@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container: 1100px;
}

body {
  background: #fff;
  color: #111;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 16px;
}
